[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2 = "==2.9.3"
psycopg2-binary = "==2.9.3"
python-dotenv = "==0.19.2"
cloudinary = "==1.28.0"
asgiref = "==3.4.1"
certifi = "==2021.10.8"
six = "==1.16.0"
sqlparse = "==0.4.2"
urllib3 = "==1.26.8"
Pillow = "==9.0.0"
Django = "==4.0"
sentry-sdk = "==1.5.1"

[dev-packages]

[requires]
python_version = "3.9"
