
{% extends 'account/base.html' %}

{% block title %}Les joueurs{% endblock %}

{% block content %}

<h2>Les joueurs</h2>


{% if players %}
    {% for player in players %}
        {{player.picture}} {{player.first_name}} {{player.last_name}} #{{player.jersey_number}}
        <br>
        <a href="">Modifier</a>
        <a href="{% url 'player_delete' username team_pk player.pk %}">Supprimer</a>
        <br><br>
    {% endfor %}
{% else %}
    <p>Tu n'as pas encore de joueur</p>
{% endif %}

<a href="{% url 'player_create' username team_pk %}"><h3>Créer un joueur</h3></a>

{% endblock content %}
