
{% extends 'account/base.html' %}

{% block title %}Statistiques moyennes{% endblock %}

{% block content %}

<h2>Statistiques moyennes</h2>

<h3>Statistiques des joueurs</h3>
{% for stat in players_stats %}
    {{ stat.player.first_name }} {{ stat.player.last_name }}:
    <br>
    {{ stat.points }} points | tirs réussis {{ stat.field_goals_made }}  | tirs tentés {{ stat.field_goals_attempted }} | % tirs {{ stat.field_goals_percent }} | 3pts réussis {{ stat.three_points_made }} | 3pts tentés {{ stat.three_points_attempted }} | % 3pts {{ stat.three_points_percent }} | LF réussis {{ stat.free_throws_made }} | LF tentés {{ stat.free_throws_attempted }} | % LF {{ stat.free_throws_percent }} | rebonds off {{ stat.offensive_rebounds }} | rebonds def {{ stat.defensive_rebounds }} | rebonds {{ stat.rebounds }} | passes décisives {{ stat.assists }} | interceptions {{ stat.steals }} | contre {{ stat.blocks }} | b. perdus {{ stat.turnovers }} | fautes {{ stat.fouls }}
    <br>
    <br>
    {% endfor %}

<h3>Statistiques de l'équipe</h3>
{{ team_averages.points_avg }} points | tirs réussis {{ team_averages.field_goals_made_avg }}  | tirs tentés {{ team_averages.field_goals_attempted_avg }} | % tirs {{ team_averages.field_goals_percent }} | 3pts réussis {{ team_averages.three_points_made_avg }} | 3pts tentés {{ team_averages.three_points_attempted_avg }} | % 3pts {{ team_averages.three_points_percent }} | LF réussis {{ team_averages.free_throws_made_avg }} | LF tentés {{ team_averages.free_throws_attempted_avg }} | % LF {{ team_averages.free_throws_percent }} | rebonds off {{ team_averages.offensive_rebounds_avg }} | rebonds def {{ team_averages.defensive_rebounds_avg }} | rebonds {{ team_averages.rebounds_avg }} | passes décisives {{ team_averages.assists_avg }} | interceptions {{ team_averages.steals_avg }} | contre {{ team_averages.blocks_avg }} | b. perdus {{ team_averages.turnovers_avg }} | fautes {{ team_averages.fouls_avg }}


{% endblock content %}


