
{% extends 'account/base.html' %}

{% block title %}Statistiques moyennes des joueurs{% endblock %}

{% block content %}

<h2>Statistiques moyennes</h2>

<p>Statistiques des joueurs</p>
<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Joueurs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'team_averages' username team_pk %}">Equipe</a>
    </li>
</ul>
<table class="table">
  <thead class=".thead-dark">
    <tr>
      <th scope="col"></th>
      <th scope="col">PTS</th>
      <th scope="col">RBO</th>
      <th scope="col">RBD</th>
      <th scope="col">RBT</th>
      <th scope="col">PD</th>
      <th scope="col">INT</th>
      <th scope="col">CTR</th>
      <th scope="col">BP</th>
      <th scope="col">FP</th>
    </tr>
  </thead>
  <tbody>
    {% for p_stats in players_stats %}
      <tr>
        <th scope="row">{{ p_stats.player.first_name }} {{ p_stats.player.last_name }}</th>
        <td>{{ p_stats.stats_averages.points_avg }}</td>
        <td>{{ p_stats.stats_averages.offensive_rebounds_avg }}</td>
        <td>{{ p_stats.stats_averages.defensive_rebounds_avg }}</td>
        <td>{{ p_stats.stats_averages.rebounds_avg }}</td>
        <td>{{ p_stats.stats_averages.assists_avg }}</td>
        <td>{{ p_stats.stats_averages.steals_avg }}</td>
        <td>{{ p_stats.stats_averages.blocks_avg }}</td>
        <td>{{ p_stats.stats_averages.turnovers_avg }}</td>
        <td>{{ p_stats.stats_averages.fouls_avg }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<p>Statistiques des joueurs aux tirs</p>
<table class="table">
  <thead class=".thead-dark">
    <tr>
      <th scope="col"></th>
      <th scope="col">PTS</th>
      <th scope="col">TM</th>
      <th scope="col">TR</th>
      <th scope="col">T%</th>
      <th scope="col">3TM</th>
      <th scope="col">3TR</th>
      <th scope="col">3T%</th>
      <th scope="col">LFM</th>
      <th scope="col">LFR</th>
      <th scope="col">LF%</th>
    </tr>
  </thead>
  <tbody>
    {% for p_stats in players_stats %}
      <tr>
        <th scope="row">{{ p_stats.player.first_name }} {{ p_stats.player.last_name }}</th>
        <td>{{p_stats.stats_averages.points_avg}}</td>
        <td>{{ p_stats.stats_averages.field_goals_made_avg }}</td>
        <td>{{ p_stats.stats_averages.field_goals_attempted_avg }}</td>
        <td>{{ p_stats.stats_averages.field_goals_percent }}</td>
        <td>{{ p_stats.stats_averages.three_points_made_avg }}</td>
        <td>{{ p_stats.stats_averages.three_points_attempted_avg }}</td>
        <td>{{ p_stats.stats_averages.three_points_percent }}</td>
        <td>{{ p_stats.stats_averages.free_throws_made_avg }}</td>
        <td>{{ p_stats.stats_averages.free_throws_attempted_avg }}</td>
        <td>{{ p_stats.stats_averages.free_throws_percent }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

PTS: Points marqués	RBO: Rebonds offensifs	RBD: Rebonds défensifs	RBT: Rebonds totaux	PD: Passes décisives	INT: Interceptions	CTR: Contres	BP: Ballons perdus	FP: Fautes Personnelles
TM: Tirs marqués TR: Tirs ratés	T%: Pourcentage de réussite aux tirs	3TM: Trois points marqués	3TR: Trois points ratés	3T%: Pourcentage de réussite à trois points	LFM: Lancers francs marqués	LFR: Lancers francs ratés	LF%: Pourcentage de réussite aux lancers francs

{% endblock content %}
