
{% extends 'account/base.html' %}

{% block title %}Équipes{% endblock %}

{% block content %}

<h2>Mes équipes</h2>


{% if teams %}
    {% for season in seasons %}
        <h5>{{ season }}</h5>
        {% for team in teams %}
            {% if team.season == season %}
                <a href="{% url 'team_detail' username team.pk %}">{{ team.club_name }}  {{ team.season }} {{ team.genre }}</a> <br>
            {% endif %}
        {% endfor %}
    {% endfor %}
{% else %}
    <p>Tu n'as pas encore d'équipe</p>
{% endif %}

<a href="{% url 'team_create' username %}">Créer une équipe</a>

{% endblock content %}
