
{% extends 'account/base.html' %}

{% block title %}Équipe {{ team.club_name }}{% endblock %}

{% block content %}

<h2>{{ team.club_name }}</h2>
{{ team.picture }}
{{ team.city }}
{{ team.province }}
{{ team.level }}
{{ team.genre }}
{{ team.season }}
<a href="{% url 'team_update' username team.pk %}"><h3>Modifier équipe</h3></a>

<a href="{% url 'team_delete' username team.pk %}"><h3>Supprimer l'équipe</h3></a> <br>


{% if games %}
    <h3>Leaders</h3>
    {% for leader in team_leaders %}
        {{ leader.player.picture }}
        {{ leader.player.first_name }} {{ leader.player.last_name }}
        {{ leader.value }} {{ leader.stat }}
    {% endfor %}
{% endif %}

<a href="{% url 'players_list' username team.pk %}"><h3>Les joueurs</h3></a>
{% if games %}
    <a href="{% url 'players_averages' username team.pk %}"><h3>Statistiques de la saison</h3></a> <br>
    {% for game in games %}
    <a href="{% url 'game_detail_players' username team.pk game.pk %}">
        {{ game.date }} - {{ game.place }}
        {% if game.place == 'home' %}
            <br>
            {{ team.club_name }} {{ game.team_points }} - {{ game.opponent_points }} {{ game.opponent }}
            <br>
        {% else %}
            <br>
            {{ game.opponent }} {{ game.opponent_points }} - {{ game.team_points }} {{ team.club_name }}
            <br>
        {% endif %}
        {{ game.comment }}
    </a>
    <br>
    <br>
{% endfor %}

{% endif %}


{{players_stats_with_averages}}




{% endblock content %}
