
{% extends 'account/base.html' %}

{% block title %}Équipe {{ team.club_name }}{% endblock %}

{% block content %}

<h2>{{ team.club_name }}</h2>
{{ team.picture }}
{{ team.city }}
{{ team.province }}
{{ team.level }}


{% if games %}
    <a href="{% url 'games_list' username team.pk %}"><h3>Les matchs</h3></a>

    <a href="{% url 'averages' username team.pk %}"><h3>Statistiques de la saison</h3></a>
{% else %}
    <h3>Les matchs</h3>

    <h3>Statistiques de la saison</h3>
{% endif %}

<a href="{% url 'players_list' username team.pk %}"><h3>Les joueurs</h3></a>

<a href="{% url 'players_list' username team.pk %}"><h3>Modifier équipe</h3></a>

<a href="{% url 'team_delete' username team.pk %}"><h3>Supprimer l'équipe</h3></a>


{% endblock content %}
