
{% extends 'account/base.html' %}

{% block title %}Matchs{% endblock %}

{% block content %}

{% if games %}
    {% for game in games %}
        <a href="{% url 'game_detail' username team.pk game.pk %}">
            {{ game.date }}
            <br>
            {{ team.club_name }} [score] - {{ game.opponent_points }} {{ game.opponent }}
            <br>
            {{ game.comment }}
        </a>
        <br>
        <br>
    {% endfor %}
{% else %}
    Tu n'as pas encore de match
{% endif %}

{% endblock content %}
