
{% extends 'account/base.html' %}

{% block title %}Match contre {{ game.opponent }}{% endblock %}

{% block content %}

<h2>{{ team.club_name }} {{ game.team_points }} - {{ game.opponent_points }} {{ game.opponent }}</h2>
<a href="{% url 'game_update' username team.pk game.pk %}">Modifier</a>
<a href="{% url 'game_delete' username team.pk game.pk %}">Supprimer</a>

<h3>Statistiques du match</h3>

<p>Statistiques de l'équipe</p>
<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" aria-current="page" href="{% url 'game_detail_players' username team.pk game.pk %}">Joueurs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="#">Equipe</a>
    </li>
</ul>
<table class="table">
    <thead class=".thead-dark">
      <tr>
        <th scope="col">Pt</th>
        <th scope="col">Rbo</th>
        <th scope="col">Rbd</th>
        <th scope="col">Rbt</th>
        <th scope="col">Pd</th>
        <th scope="col">Int</th>
        <th scope="col">Ctr</th>
        <th scope="col">Bp</th>
        <th scope="col">Fp</th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ team_stats.points }}</td>
            <td>{{ team_stats.offensive_rebounds }}</td>
            <td>{{ team_stats.defensive_rebounds }}</td>
            <td>{{ team_stats.rebounds }}</td>
            <td>{{ team_stats.assists }}</td>
            <td>{{ team_stats.steals }}</td>
            <td>{{ team_stats.blocks }}</td>
            <td>{{ team_stats.turnovers }}</td>
            <td>{{ team_stats.fouls }}</td>
        </tr>
    </tbody>
  </table>

  <p>Statistiques de l'équipe aux tirs</p>
  <table class="table">
    <thead class=".thead-dark">
      <tr>
        <th scope="col"></th>
        <th scope="col">Pt</th>
        <th scope="col">Tm</th>
        <th scope="col">Tr</th>
        <th scope="col">T%</th>
        <th scope="col">3Tm</th>
        <th scope="col">3Tr</th>
        <th scope="col">3T%</th>
        <th scope="col">Lfm</th>
        <th scope="col">Lfr</th>
        <th scope="col">Lf%</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <th scope="row">{{ p_stats.player.first_name }} {{ p_stats.player.last_name }}</th>
          <td>{{ team_stats.points }}</td>
          <td>{{ team_stats.field_goals_made }}</td>
          <td>{{ team_stats.field_goals_attempted }}</td>
          <td>{{ team_stats.field_goals_percent }}</td>
          <td>{{ team_stats.three_points_made }}</td>
          <td>{{ team_stats.three_points_attempted }}</td>
          <td>{{ team_stats.three_points_percent }}</td>
          <td>{{ team_stats.free_throws_made }}</td>
          <td>{{ team_stats.free_throws_attempted }}</td>
          <td>{{ team_stats.free_throws_percent }}</td>
          <td>{{ p_stats.stats_averages.free_throws_percent }}</td>
        </tr>
    </tbody>
  </table>

PTS: Points marqués	RBO: Rebonds offensifs	RBD: Rebonds défensifs	RBT: Rebonds totaux	PD: Passes décisives	INT: Interceptions	CTR: Contres	BP: Ballons perdus	FP: Fautes Personnelles
TM: Tirs marqués TR: Tirs ratés	T%: Pourcentage de réussite aux tirs	3TM: Trois points marqués	3TR: Trois points ratés	3T%: Pourcentage de réussite à trois points	LFM: Lancers francs marqués	LFR: Lancers francs ratés	LF%: Pourcentage de réussite aux lancers francs

{% endblock content %}
